a {
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    padding: 0 80px;

    background: rgba(0, 0, 0, 0.40); 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.calendar {
    display: inline-block;
    background-image: url(../images/calendar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
}

.envelope {
    display: inline-block;
    background-image: url(../images/envelope.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
}

.compass {
    display: inline-block;
    background-image: url(../images/compass.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
}

.welcome {
    padding-left: 24px;
    border-left: 1px solid grey;
}

.welcome, .welcome a {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

/* SECTION ======================== */

.form {
    margin: 54px auto;
    background: #FFF;
    width: 444px;

    padding: 30px 60px 38px;

    box-sizing: border-box;
}

.top-form {
    display: grid;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 14px;
    column-gap: 6px;
}

.top-form p {
    justify-self: start;
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.top-form p:first-child:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;

    position: relative;
    right: 60px;
}

.top-form a {
    justify-self: end;
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.facebook {
    display: flex;
    align-items: center;

    background-color: #305DB8;
    border-radius: 4px;

    justify-self: start;
}

.facebook p {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 17px 22px 17px 18px;
}

.facebook img {
    padding: 4px 12px;
    border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.google {
    display: flex;
    align-items: center;

    background-color: #DF4A32;
    border-radius: 4px;
}

.google img {
    padding: 4px 12px;
    border-right: 1px solid rgba(43, 13, 9, 0.1);

}

.google p {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 17px 22px 17px 30px;
}

.or {
    margin: 30px auto 12px;
    text-align: center;

    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.or::after, .or::before {
    content: '';
    display: inline-block;
    background-image: url(../images/line.svg);
    width: 150px;
    height: 1px; 

    position: relative;
    bottom: 3px;
}

.or::before {
    right: 6px;
}

.or::after {
    left: 6px;
}

.main-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.main-form input {
    padding: 16px 19px 15px;
    border: 1px solid #F2F2F2; 
    border-radius: 4px;

    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.main-form input:focus {
    outline: none;
    border: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);

    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.checkbox {
    display: flex;
}

.checkbox label {
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.checkbox label a {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.main-form input:last-child {
    background-color: rgba(60, 184, 120, 0.80);

    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}


/* HOVERS ============================= */


.logo:hover {
    color: #3CB878;
}

.calendar:hover {
    background-image: url(../images/calendar_hover.svg);
}

.envelope:hover {
    background-image: url(../images/envelope_hover.svg);
}

.compass:hover {
    background-image: url(../images/compass_hover.svg);
}

.welcome a:hover {
    color: #3CB878;
}

.top-form a:first-of-type:hover {
    color: #01813F;
    text-decoration: underline;
}

.facebook:hover {
    background-color: #022263;
}

.google:hover {
    background-color: #AB1F09;
}

.checkbox label a:hover {
    color: #01813F;
    text-decoration: underline;
}

.main-form input:last-child:hover {
    background-color: #01813F;
    cursor: pointer;
}